# Node.js files
node_modules/
.vscode/
.ideal/
.DS_Store
cypress/videos
cypress/screenshots
cypress/reports/
cypress.env.json
dist/

#browserstack files
log/
tmpBstackPackages/
npm_install_debug.log

